body {
  font-family: "Roboto", sans-serif;
  background: var(--typical-white-color);
  font-size: 14px;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: black;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding-left: 0;
  margin: 0;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19px;
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
.logo--header {
  color: #2196f3;
}
.logo--footer {
  color: #ffffff;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}
@media screen and (min-width: 1140px) {
  .title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition-property: opacity, visibility;
  transition-duration: var(--typical-time-transition);
  transition-timing-function: var(--typical-cubic-bezier);
}

.menu__button {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .menu__button {
    display: none;
  }
}

.menu__button--icon:hover {
  fill: #2196f3;
}
.menu__button--icon:focus {
  fill: #2196f3;
}

.menu__button .menu__button--iconclose {
  display: none;
}

.menu__button.is-open .menu__button--iconclose {
  display: block;
}

.menu__button.is-open .menu__button--iconmenu {
  display: none;
}

.menu__container {
  background-color: #ffffff;
}
@media screen and (max-width: 768px) {
  .menu__container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
  .menu__container.is-open {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .menu__container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }
}

.nav {
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
  }
}

.nav__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
}
@media screen and (min-width: 768px) {
  .nav__item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.nav__item .link.current {
  color: var(--main-color);
}

.nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  color: var(--header-logo-color);
  transition-property: color;
  transition-duration: var(--typical-time-transition);
  transition-timing-function: var(--typical-cubic-bezier);
}
.nav__link:focus {
  color: var(--main-color);
}
.nav__link:hover {
  color: var(--main-color);
}

.current {
  position: relative;
}
@media screen and (min-width: 768px) {
  .current::after {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    border-radius: 2px;
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .connect {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1199px) {
  .connect {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .connect__list:not(:last-child) {
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1199px) {
  .connect__list:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0px;
  }
}

.connect__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--header-contact-color);
  display: flex;
  transition-property: color, fill;
  transition-duration: var(--typical-time-transition);
  transition-timing-function: var(--typical-cubic-bezier);
}
@media screen and (min-width: 768px) {
  .connect__link {
    display: block;
  }
}
@media screen and (min-width: 1199px) {
  .connect__link {
    padding-bottom: 32px;
    padding-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 1.14;
  }
}
.connect__link:hover {
  color: var(--main-color);
  fill: var(--main-color);
}
.connect__link:focus {
  color: var(--main-color);
}

.connect__icon {
  margin-right: 10px;
  display: inline-block;
  align-self: center;
  fill: currentColor;
}

.header {
  position: relative;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feature__list {
  margin-bottom: -30px;
}
@media screen and (min-width: 768px) {
  .feature__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}
.feature__item {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .feature__item {
    width: calc(50% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1140px) {
  .feature__item {
    width: calc(25% - 30px);
  }
}
.feature__item--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .feature__item--icon {
    width: 354px;
  }
}
@media screen and (min-width: 1140px) {
  .feature__item--icon {
    width: 270px;
  }
}
.feature__item--text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.feature__item--title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.about {
  background-color: fff;
  display: flex;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .about {
    display: none;
  }
}
.about__img {
  display: block;
  max-width: 100%;
  height: auto;
}
.about__item {
  position: relative;
}
.about__item:not(:last-child) {
  margin-right: 30px;
}
.about__list {
  display: flex;
}
.about__text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  height: 70px;
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
}
.team__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc(50% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1140px) {
  .team__item {
    width: calc(25% - 30px);
  }
}
.team__item--img {
  display: block;
  width: 100%;
  height: auto;
}
.team__list {
  margin-bottom: -30px;
}
@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}
.team__row {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}
.team__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.team-soc__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  fill: #afb1b8;
  transition-property: fill, background-color;
  transition-duration: var(--typical-time-transition);
  transition-timing-function: var(--typical-cubic-bezier);
}
.team-soc__link:hover {
  background-color: #2196f3;
  fill: #ffffff;
}
.team-soc__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}
.team-soc__list {
  display: flex;
  justify-content: center;
}

.client__item {
  width: calc(50% - 30px);
  margin-bottom: 30px;
  margin-left: 30px;
}
@media screen and (min-width: 768px) {
  .client__item {
    width: calc(33.3333333333% - 30px);
  }
}
@media screen and (min-width: 1140px) {
  .client__item {
    width: calc(16.6666666667% - 30px);
  }
}
.client__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  fill: #afb1b8;
}
@media screen and (min-width: 768px) {
  .client__link {
    width: 226px;
  }
}
@media screen and (min-width: 1140px) {
  .client__link {
    width: 170px;
  }
}
.client__link:hover {
  border: 1px solid #2196f3;
  fill: #2196f3;
}
.client__link:focus {
  border: 1px solid #2196f3;
  fill: #2196f3;
}
.client__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
  margin-left: -30px;
}
.footer {
  background: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    text-align: left;
  }
}
.footer__contact {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__contact {
    margin-right: 70px;
    margin-bottom: 0;
  }
}
.footer__logo {
  display: block;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  color: var(--typical-white-color);
}
@media screen and (min-width: 768px) {
  .footer__logo {
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

.footer__logo--color {
  color: var(--main-color);
}

.footer__address {
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--typical-white-color);
}

.address__list:not(:last-child) {
  margin-bottom: 9px;
}

.address__list--link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition-property: color;
  transition-duration: var(--typical-time-transition);
  transition-timing-function: var(--typical-cubic-bezier);
}
.address__list--link:hover {
  color: var(--main-color);
}
.address__list--link:focus {
  color: var(--main-color);
}

.soc__column {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .soc__column {
    margin-right: auto;
    margin-bottom: 0;
  }
}

.soc__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--typical-white-color);
}

.soc__list {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.soc__item:not(:last-child) {
  margin-right: 10px;
}

.soc__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  justify-content: center;
  align-items: center;
  fill: var(--typical-white-color);
  transition-property: background;
  transition-duration: var(--typical-time-transition);
  transition-timing-function: var(--typical-cubic-bezier);
}
.soc__link:hover {
  background-color: var(--main-color);
}
.soc__link:focus {
  background-color: var(--main-color);
}

.subscribe__title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--typical-white-color);
}

@media screen and (min-width: 1200px) {
  .subscribe__form {
    display: flex;
  }
}

.subscribe__input {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 15px 0px 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  margin-bottom: 20px;
  color: var(--typical-white-color);
}
@media screen and (min-width: 768px) {
  .subscribe__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
    display: flex;
    margin-right: 12px;
    margin-bottom: 0px;
  }
}

.subscribe__btn {
  background: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: inline-flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 28px;
  color: var(--typical-white-color);
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .subscribe__btn {
    display: flex;
  }
}

.subscribe__btn--icon {
  margin-left: 10px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  background: var(--typical-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-property: transform;
  transition-duration: var(--typical-time-transition);
  transition-timing-function: var(--typical-cubic-bezier);
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
}

.modal-btn-exit {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--typical-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  transition-property: fill;
  transition-duration: var(--typical-time-transition);
  transition-timing-function: var(--typical-cubic-bezier);
}
.modal-btn-exit:hover .modal-icon-exit {
  fill: var(--main-color);
}
.modal-btn-exit:focus .modal-icon-exit {
  fill: var(--main-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--modal-title-color);
  margin-bottom: 12px;
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--modal-label-color);
  margin-bottom: 4px;
  display: block;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  transition-property: border-color;
  transition-duration: var(--typical-time-transition);
  transition-timing-function: var(--typical-cubic-bezier);
}
.modal-input:focus {
  border-color: var(--main-color);
}
.modal-input:focus + .modal-icon {
  fill: var(--main-color);
}

.modal-text {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  transition-property: border-color;
  transition-duration: var(--typical-time-transition);
  transition-timing-function: var(--typical-cubic-bezier);
}
.modal-text:focus {
  border-color: var(--main-color);
}

.modal-input-wrap {
  position: relative;
}

.modal-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: var(--typical-time-transition);
  transition-timing-function: var(--typical-cubic-bezier);
}

.modal-field {
  margin-bottom: 10px;
}

.modal-textarea {
  margin-bottom: 20px;
}

.check-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--modal-label-color);
  display: flex;
  align-items: center;
  transition-property: background-color;
  transition-duration: var(--typical-time-transition);
  transition-timing-function: var(--typical-cubic-bezier);
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-icon {
  fill: transparent;
  transition-property: border-color, fill;
  transition-duration: var(--typical-time-transition);
  transition-timing-function: var(--typical-cubic-bezier);
}

.input-check:focus + .check-text span {
  border-color: var(--main-color);
}

.input-check:checked + .check-text span {
  background-color: var(--main-color);
  border: none;
}

.input-check:checked + .check-text .check-icon {
  fill: var(--typical-white-color);
}

.modal-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.check-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--main-color);
}

.send-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--typical-white-color);
  background: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition-property: background, box-shadow;
  transition-duration: var(--typical-time-transition);
  transition-timing-function: var(--typical-cubic-bezier);
}
.send-btn:hover {
  background: var(--btn-send-color);
}

.hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_mobile_x2.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_tablet_x2.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_pc.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_pc_x2.jpg);
  }
}
.hero__btn {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
}
.hero__btn:hover {
  background: #188ce8;
}
.hero__btn:focus {
  background: #188ce8;
}
.hero__btn--text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.hero__title {
  width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --main-color: #2196f3;
  --header-logo-color: #000000;
  --typical-white-color: #ffffff;
  --header-nav-color: #212121;
  --header-contact-color: #757575;
  --banner-background-color: #2f303a;
  --btn-hover: #188ce8;
  --title-color: #212121;
  --team-text-color: #757575;
  --filter-btn-background: #f5f4fa;
  --filter-btn-text: #212121;
  --portfolio-title-color: #212121;
  --portfolio-text-color: #757575;
  --feature-icons-color: #f5f4fa;
  --team-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --fillteam-color: #afb1b8;
  --btn-send-color: #188ce8;
  --modal-label-color: #757575;
  --modal-title-color: #212121;
  --typical-margin: 30px;
  --typical-time-transition: 250ms;
  --typical-cubic-bezier: cubic-bezier (0.4, 0, 0.2, 1);
}/*# sourceMappingURL=main.css.map */