$base-color: #2196f3;

.header {
  border-bottom: 1px solid #ececec;
  position: relative;
  &__container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    // justify-content: space-between;
  }
}

.no-scroll {
  overflow: hidden;
}
