.hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  &__btn {
    width: 200px;
    height: 50px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    border: none;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    &:hover {
      background: #188ce8;
    }
    &:focus {
      background: #188ce8;
    }
  }
  &__title {
    width: 360px;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
}
